<header class="about_header">
  <h1 class="header_title" data-lang="about_us"></h1>
</header>

<main class="about_main">
  <article class="about_article_story" >
    
    <section class="about_info_story">
      <h2 class="about_title_story" data-lang="our_story"></h2>
      <p class="about_text_story">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloribus eius et amet numquam esse minus nulla, neque omnis quia, ratione nemo sapiente facilis? Unde suscipit, id facere ipsam velit sapiente explicabo ut accusamus voluptatibus beatae perferendis rerum quam excepturi iste eaque debitis tempore. Et, quis perspiciatis modi commodi impedit perferendis.
      </p>
    </section>
    <img class="about_img_story" src="../../public/about_us3.jpg" alt="error">
  </article>

  <article class="about_article_team" >
    <img class="about_img_team" src="../../public/about_us2.jpg" alt="error">

    <section class="about_info_team" >
      <h2 class="about_title_team" data-lang="our_team" ></h2>
      <p class="about_text_team" >
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus tenetur earum deleniti debitis asperiores magni optio nisi fugiat impedit quod rerum voluptatum fuga minima recusandae unde sint, soluta libero! Molestias tenetur sapiente animi incidunt, eius iusto cumque unde quibusdam ipsum amet voluptatum quisquam error nemo tempore modi expedita repellat tempora.
      </p>
    </section>
    
  </article>

  <article class="about_article_reason" >
    <section class="about_info_reason" >
      <h2 class="about_title_reason" data-lang="reason_to_meet_us"></h2>
      <p class="about_text_reason" >
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed exercitationem magnam obcaecati at iure! Sunt, ipsam itaque distinctio, nobis ipsum facilis adipisci porro vel a maxime quis obcaecati ut. Consequatur molestias facere eveniet minima totam excepturi libero suscipit enim, ullam fugiat. Alias, consequatur ducimus? Aperiam aliquam itaque inventore accusantium autem.
      </p>
    </section>
    <img class="about_img_reason" src="../../public/about_us1.jpg" alt="error">
  </article>


    
</main>
