<nav class="p-2 bg-amber-700 text-white">
    <ul class=" flex space-x-4 gap-30 bg-amber-700 justify-center items-center">
        <li><img src="{{logo}}" alt="Logo" class="w-15 h-auto" /></li>
        <li class=" hover:bg-amber-900 p-3 "><a href="/programme"  data-lang="programme"></a></li>
        <li class=" hover:bg-amber-900 p-3 "><a href="/about"  data-lang="about_us"></a></li>
        <li class=" hover:bg-amber-900 p-3 "><a href="/tickets" data-lang="tickets"></a></li>
        <li class=" hover:bg-amber-900 p-3 "><a href="/contacts" data-lang="contacts"></a></li>
        <li class=" hover:bg-amber-900 p-3 "><a href="/partners" data-lang="partners"></a></li>
    </ul>
</nav>