<nav class='p-2 bg-amber-700 text-white top-0 left-0 w-full z-50'>
  <ul class='flex space-x-4 gap-10 bg-amber-700 justify-center items-center h-40 md:h-20'>
    <li><a href='/' data-link><img src='{{logo}}' alt='Logo' class='w-30 h-auto md:w-20' /></a></li>
    <li class='hover:bg-amber-900 p-3 text-5xl md:text-2xl'><a href='/programm' data-lang='programme' data-link></a></li>
    <li class='hover:bg-amber-900 p-3 text-5xl md:text-2xl'><a href='/about' data-lang='about_us' data-link></a></li>
    <li class='hover:bg-amber-900 p-3 text-5xl md:text-2xl'><a href='/tickets' data-lang='tickets' data-link></a></li>
    <li class='hover:bg-amber-900 p-3 text-5xl md:text-2xl'><a href='/contacts' data-lang='contacts' data-link></a></li>
    <li class='hover:bg-amber-900 p-3 text-5xl md:text-2xl'><a href='/partners' data-lang='partners' data-link></a></li>
  </ul>
</nav>