<nav class="p-4 bg-amber-900 text-white">
    <ul class=" flex space-x-4 gap-50 bg-amber-900">
        <li><img src="../assets/Logo_Tresk!.png" alt="error"></li>
        <li><a href="/programme" class="text-blue-500 hover:underline" data-lang="programme"></a></li>
        <li><a href="/about" class="text-blue-500 hover:underline" data-lang="about_us"></a></li>
        <li><a href="/tickets" class="text-blue-500 hover:underline" data-lang="tickets"></a></li>
        <li><a href="/contacts"  data-lang="contacts"></a></li>
        <li><a href="/partners" data-lang="partners"></a></li>

    </ul>
</nav>