<nav class='p-2 !bg-amber-700 top-0 left-0 w-full z-50'>
  <ul class='flex space-x-4 gap-10 bg-amber-700 justify-center items-center h-40 md:h-20'>
    <li><a href='/' data-link><img src='{{logo}}' alt='Logo' class='w-30 h-auto md:w-20' /></a></li>
    <li class='hover:bg-amber-900 p-3 text-4xl md:text-2xl'><a
        class='!text-white'
        href='/programm'
        data-lang='programme'
        data-link
      ></a></li>
    <li class='hover:bg-amber-900 p-3 text-4xl md:text-2xl'><a
        class='!text-white'
        href='/about'
        data-lang='about_us'
        data-link
      ></a></li>
    <li class='hover:bg-amber-900 p-3 text-4xl md:text-2xl'><a
        class='!text-white'
        href='/tickets'
        data-lang='tickets'
        data-link
      ></a></li>
    <li class='hover:bg-amber-900 p-3 text-4xl md:text-2xl'><a
        class='!text-white'
        href='/contacts'
        data-lang='contacts'
        data-link
      ></a></li>
    <li class='hover:bg-amber-900 p-3 text-4xl md:text-2xl'><a
        class='!text-white'
        href='/partners'
        data-lang='partners'
        data-link
      ></a></li>

    <li>
      <div class='relative inline-block text-left ml-4'>
        <button
          id='lang_toggle'
          class='flex items-center !bg-amber-700 text-white px-4 py-2 rounded-md !hover:bg-amber-900'
        >
          🌐
          <span id='current_lang' class='ml-2 uppercase'>EN</span>
        </button>

        <div
          id='lang_menu'
          class='absolute right-0 mt-2 w-24 bg-white rounded-md shadow-lg z-50 hidden'
        >
          <button
            class='block w-full text-left px-4 py-2 hover:bg-gray-100'
            data-lang-option='en'
          >🇬🇧 EN</button>
          <button
            class='block w-full text-left px-4 py-2 hover:bg-gray-100'
            data-lang-option='ru'
          >🇷🇺 RU</button>
        </div>
      </div>
    </li>
  </ul>
</nav>