@use './app' as app;

.toast {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  font-weight: 600;
  color: white;
  transform: translateY(20px);
  transition: all 0.4s ease;
  z-index: 9999;
}

.toast.show {
  opacity: 1;
  transform: translateY(0);
}

.toast.success {
  background-color: #16a34a; /* зеленый */
}

.toast.error {
  background-color: #dc2626; /* красный */
}
